.main-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    margin-right: 500px;
    margin-top: 30px;
    margin-left: 500px;
    padding: 30px;
    font-size: 3.5em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

button{
    background-color: #4c87af;
    border: none;
    color: white;
    margin-bottom: 30px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
}

button:hover {background-color: #3e8e41}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}